.lista-notas {
    display: flex;
    align-items: start;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.lista-notas_item {
    width: 20%;
    background-color: lightgray;
    margin: 1rem;
    height: 6rem; 
    display: flex;
    align-items: center;
    border-radius: 1rem;
} 